.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiToggleButtonGroup-root {
  justify-content: center;
  border-color: #282c34;
}
.MuiStack-root {
  justify-content: center;
  padding-top: 1rem;
  h4 {
    line-height: 0;
  }
}
div.container {
  background-color: rgb(234, 234, 236);
  padding: .7rem;
  border-radius: 1rem;  
  margin: .2rem;
}
.reach-banner {
  line-height: 0;
  display: grid;
  grid-auto-flow: column;
  gap: 1em;
  padding-bottom: 1em;
}
